.pages{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.arrow-button{
    background-color: #FFF;
    border-width: 0px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    align-items: center;
}

.arrows{
    width: 6px;
    height: 10px;
    
}