header.header {
    display: flex;
    height: 100px;
    overflow: hidden;
    padding: 0px 10px;
    background: linear-gradient(180deg, #0F2027 0%, #2c5364 100%);
    justify-content: center;
    justify-items: center;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.menu-options{
    color: #FFF;
    cursor: pointer;
}

.menu-options:hover{
    text-decoration: underline;
}
